.lead {
    box-sizing: border-box;
    max-width: 1280px;
    background-color: #2a2c2f;
    margin: 0 auto;
    padding: 56px 148px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 56px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        padding: 0;
    }
}