.lead__caption {
  margin: 0;
  padding-top: 8px;

  align-self: flex-start;

  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}